.scrollbar::-webkit-scrollbar{
    width: 10px;
}

/* Scrollbar track style */
.scrollbar::-webkit-scrollbar-track {
    background-color: #f1f5f9; /* Equivalent to bg-slate-100 */
}

/* Scrollbar thumb style */
.scrollbar::-webkit-scrollbar-thumb {
    background-color: #e2e8f0; /* Equivalent to bg-slate-200 */
    border-radius: 9999px; /* Equivalent to rounded-full */
}
